---
import LogoList from '../components/LogoList.jsx';
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Logo Preview</title>
  </head>
  <body class="bg-[#121212] m-0">
    <LogoList client:load />
  </body>
</html>